<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. SQL

<b>Objectives:</b>
* List popular languages for Data Science
* Libaries for Data Science
* Datasets - Powering Data Science

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Pandas.
3. TensorFlow.
4. Keras.

| Data Science Tools |
|:------------------:|
| VS Code 1          |
|Jupyter Notebookl     |
Spyderol 3           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<h2>Author</h2>
Bhagyashali Shinde